<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jake.csamanagement.dao.DeptMapper">

    <select id="getDepts" resultType="com.jake.csamanagement.entity.Dept">
        SELECT dept_id as deptId,name as deptName FROM dept;
    </select>

    <select id="getDepNametByDeptId" resultType="string">
        SELECT name FROM dept WHERE dept_id=#{deptId}
    </select>
</mapper>